.contact_illustration {
  animation: bounce 5s infinite linear normal;
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.hero_gradient_title {
  -webkit-text-fill-color: transparent;
  background: #f81f01;
  background: linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

.page_banner_title {
  -webkit-text-fill-color: transparent;
  background: #f81f01;
  background: linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  text-align: center;
  font-size: 80px;
}

@media screen and (max-width: 768px) {
  .page_banner_title {
    font-size: 70px;
  }
}

@media screen and (max-width: 550px) {
  .page_banner_title {
    font-size: 60px;
  }
}

.grad_card:hover {
  background: #f81f01;
  background: linear-gradient(145deg, #f81f01, #ee076e);
}
